@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");
* {
  font-family: "Changa", sans-serif;
}
.navbar {
  background: white;
}

.main {
  position: relative;
  margin: 0 auto;
}

.main-img {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("../images/newback.jpg");
  width: auto;
  height: 600px;
  background-size: cover;
}

.card {
  transition-property: margin-top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.card:hover {
  position: relative;
  margin-top: -20px;
  transition-property: margin-top;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.head_size {
  font-size: 30px;
}

.btn-primary,
.btn-outline-primary {
  background: black;
  border-radius: 0px;
  border: 1px solid #fc0;
}

.main-btn {
  background: transparent;
  transition-property: background, color, border;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.main-btn:hover {
  background: #fc0;
  color: black;
  border: 1px solid black;
}

.start-btn {
  transition-property: background, color, border;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.start-btn:hover {
  background: #fc0;
  color: black;
  border: 1px solid black;
}

.like-btn {
  transition-property: background, color, border;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.like-btn:hover {
  background: lightcoral;
  color: black;
  border: 1px solid black;
}

.main-head-main {
  padding: 0px 20px 0px 20px;
  transition-property: color, border-left, border-right;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.main-head-main:hover {
  color: #fc0;
  border-left: none;
  border-right: none;
}

.main-head {
  padding: 0px 20px 0px 20px;
  border-right: 5px solid #fc0;
  border-left: 5px solid #fc0;
  transition-property: color, border-left, border-right;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.main-head:hover {
  color: #fc0;
  border-left: none;
  border-right: none;
}

.main-img {
  width: 100%;
  max-height: 100vh;
  margin: auto;
}

.imgbox {
  display: grid;
  height: 100%;
}
.main-con {
  position: absolute;
  bottom: 30%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8));
  color: white;
  width: 100%;
  padding: 20px;
}
.card {
  border-radius: 0;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.2);
  border: none;
}
.main-text-para {
  text-align: center;
  font-size: 60px;
}

.main-text-innerpara {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .card:hover {
    margin-top: 0px;
  }
}

@media screen and (max-width: 678px) {
  .main-text-para {
    font-size: 35px;
  }
  .main-img {
    height: 500px;
  }
}

@media screen and (max-width: 628px) {
  .main-text-para {
    font-size: 25px;
  }
  .main-con {
    bottom: 0;
  }
  .main-img {
    height: 400px;
  }
}

@media screen and (max-width: 345px) {
  .main-head {
    padding: 0px;
    border-right: 0px;
    border-left: 0px;
  }
}
.bg-lightgray {
  background: lightgray;
}

.footer_para {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
}


/* Everything about scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fc0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

